body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    color: #f8f8f8;
    background-image: url("images/background.jfif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(0.8);
}

header {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    text-align: center;
    border-bottom: 3px solid #ff0000;
}



h1 {
    font-size: 3em;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
}

main {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    margin: 20px;
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.7);
}

.about_me {
    line-height: 1.6;
}

footer {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px;
    text-align: center;
    border-top: 3px solid #ff0000;
}

footer h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

footer section {
    display: inline-block;
    margin: 0 10px;
    transition: transform 0.3s;
}

footer section:hover {
    transform: scale(1.2);
}
nav {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px;
    border-bottom: 3px solid #ff0000;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
    font-size: 1.2em;
    transition: color 0.3s;
}

nav ul li a {
    color: #f8f8f8;
    text-decoration: none;
}

nav ul li a:hover {
    color: #ff0000;
    cursor: pointer;
}